*{
  margin:0px;
  padding:0px;
}

.background{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color:gray;
}

.btn{
  display:flex;
  position:fixed;
  top:120px;
  padding:10px;
  font-size:30px;
  font-weight:bold;
  background-color:ghostwhite;
  border-radius:10px;
  border:solid ghostwhite;
  visibility:hidden;
  pointer-events:none;
}

button:focus{
  outline:none;
}

.text{
  font-size:50px;
  font-weight:bold;
  font-style:italic;
  color:white;
}